@model IEnumerable<DatabaseLayer.UserTable>

@{
    ViewBag.Title = "Doctors";
}

<h2>Doctor List</h2>

<table class="table">
    <tr>
        <th>
            Doctor Name
        </th>
        <th>
            Email
        </th>
        <th>
            ContactNo
        </th>
        <th>
            Is Verified
        </th>
        <th>Action's</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVerified)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.UserID }, new { @class = "genric-btn success" })
                @Html.ActionLink("Delete", "Delete", new { id = item.UserID }, new { @class = "genric-btn danger" })
            </td>
        </tr>
    }

</table>
