@model IEnumerable<DatabaseLayer.DoctorTable>

@{
    ViewBag.Title = "Doctor List";
}
<!-- CSS file -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">

<!-- JavaScript file -->
<script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>

<h2>Doctor List</h2>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <img src="~/Content/DashboardTemplate/images/doc_v.jpg" alt="Doctor Logo" style="float:left; margin-right: 10px; height: 52px; width: 52px;">
        <input type="text" id="search" name="search" class="form-control col-md-3" style="float:right;" placeholder="🔍 Search here" />
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Doctor Name
                        </th>
                        <th>
                            Doctor Photo
                        </th>
                        <th>
                            Supportive Document
                        </th>
                        <th>
                            Fees
                        </th>
                        <th>
                            Phone No
                        </th>
                        <th>
                            Gender
                        </th>
                        <th>
                            Email Address
                        </th>
                        <th>
                            Specialization
                        </th>
                        <th>
                            Clinic Address
                        </th>
                        <th>
                            Permanent Address
                        </th>
                        <th>
                            Per Day Max Appointment
                        </th>
                        <th>
                            Bank Account Type
                        </th>
                        <th>
                            Description
                        </th>
                        <th>Action's</th>
                    </tr>
                </thead>
                <tbody id="searchValue">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @{ if (!string.IsNullOrEmpty(item.Photo))
                                    {
                                        <img src="@Url.Content(item.Photo)" alt="Image" style="width:50px;height:50px;max-width:100%;height:auto;" />
                                    }
                                }
                            </td>
                            <td>
                                @{
                                    if (!string.IsNullOrEmpty(item.SupportiveDocument))
                                    {
                                        <a href="@Url.Content(item.SupportiveDocument)" title="Enlarge Image" data-gallery="portfolio-gallery-remodeling" class="glightbox">
                                            <img src="@Url.Content(item.SupportiveDocument)" alt="Image" style="width:50px;height:50px;max-width:100%;height:auto;" />
                                        </a>
                                    }
                                }
                            </td>

                            <td>
                                @String.Format("₹{0:N2}", item.Fees)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClinicPhoneNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GenderTable.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmailAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Splztion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClinicAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PermanentAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PerDayMaxAppitmnt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountTypeTable.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "EditDoctor", new { id = item.DoctorID }, new { @class = "genric-btn success" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.DoctorID }, new { @class = "genric-btn danger" })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#searchValue tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });
</script>
