@model IEnumerable<DatabaseLayer.UserTable>

@{
    ViewBag.Title = "All Users";
}

<h4>All Users</h4>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <img src="https://cdn-icons-png.flaticon.com/128/6998/6998021.png" alt="User Logo" style="float:left; margin-right: 10px; height: 52px; width: 52px;">
        <input type="text" id="search" name="search" class="form-control col-md-3" style="float:right;" placeholder="🔍 Search here" />
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ContactNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsVerified)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserTypeTable.UserType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Password)
                        </th>
                        <th>Actions's</th>
                    </tr>
                </thead>
                <tbody id="searchValue">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContactNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsVerified)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserTypeTable.UserType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.UserID }, new { @class = "genric-btn success" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#searchValue tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });
</script>