@model DatabaseLayer.DoctorTable

@{
    ViewBag.Title = "DoctorProfile";
}

<h2>Doctor Profile</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Doctor Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Contact No
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNo)
        </dd>

        <dt>
            Gender
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenderTable.Name)
        </dd>

        <dt>
            Fee's
        </dt>

        <dd>
            Before Appointment Must be submit your Appointment Fee, using this account No: "@Html.DisplayFor(model => model.AccountNo)"
        </dd>

        <dd>
            @String.Format("₹{0:0.00}", Model.Fees)
        </dd>

        <dt>
            Field/Specialization
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Splztion)
        </dd>

        <dt>
            Clinic Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClinicAddress)
        </dd>

        <dt>
            Permanent Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermanentAddress)
        </dd>

        <dt>
            Email Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            Clinic Phone No
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClinicPhoneNo)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Account No (@Html.DisplayFor(model => model.AccountTypeTable.Name))
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNo)
        </dd>

        @*<dt>
                Supportive Document
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SupportiveDocument)
            </dd>*@



    </dl>
</div>
