@model IEnumerable<DatabaseLayer.DoctorTable>

@{
    ViewBag.Title = "Doctors";
}

<h2>All Doctors</h2>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <img src="https://png.pngtree.com/png-clipart/20231015/original/pngtree-flat-illustration-of-a-male-doctor-vector-png-image_13312862.png" alt="Doctor Logo" style="float:left; margin-right: 10px; height: 52px; width: 52px;">
        <input type="text" id="search" name="search" class="form-control col-md-3" style="float:right;" placeholder="🔍 Search here" />
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Dcotor
                        </th>
                        <th>
                            Photo
                        </th>
                        <th>
                            Fees
                        </th>
                        <th>
                            Phone No
                        </th>
                        <th>
                            Email Address
                        </th>
                        <th>
                            Specialization
                        </th>
                        <th>
                            Clinic Address
                        </th>
                        <th>Action's'</th>
                    </tr>
                </thead>
                <tbody id="searchValue">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @{ if (!string.IsNullOrEmpty(item.Photo))
                                    {
                                        <img src="@Url.Content(item.Photo)" alt="Image" style="width:50px;height:50px;max-width:100%;height:auto;" />
                                    }
                                }
                            </td>
                            <td>
                                @String.Format("₹{0:N2}", item.Fees)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClinicPhoneNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmailAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Splztion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClinicAddress)
                            </td>
                            <td>
                                @Html.ActionLink("Appointment", "DoctorAppointement", new { id = item.DoctorID }, new { @class = "genric-btn primary" })
                                @*@Html.ActionLink("Details", "Details", new { id=item.DoctorID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id=item.DoctorID })*@
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#searchValue tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });
</script>
