@model DatabaseLayer.quiz_Category

@{
    ViewBag.Title = "Add_Category";
}

<div class="col-12">
    <div class="bg-secondary opacity-75 bg-gradient p-3 text-center mb-2 text-white fw-bolder fs-3">
        Add Category
    </div>
    <hr>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Course</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Cat_name, "Category Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cat_name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Cat_name, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Cat_fk_DoctorID, "Cat_fk_DoctorID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Cat_fk_DoctorID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Cat_fk_DoctorID, "", new { @class = "text-danger" })
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.cat_encrypted_string, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cat_encrypted_string, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cat_encrypted_string, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="genric-btn primary" />
            </div>
        </div>
    </div>
}

<br />
<br />
<div style="overflow:scroll" class="p-4">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Room Number</th>
                <th>All Questions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewData["list"] as List<DatabaseLayer.quiz_Category>)
            {
                <tr>
                    <td>@item.Cat_id</td>
                    <td>@item.Cat_name</td>
                    <td>@item.cat_encrypted_string</td>
                    <td><a class="btn btn-info btn-sm" href="@Url.Action("ViewAllQuestions", new { id = @item.Cat_id })">View Questions of this exam!</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>