
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EndExam</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
            padding-top: 50px;
        }

        h3 {
            color: #007bff;
        }

        h2 {
            color: #28a745;
        }

        .btn {
            border-radius: 25px;
        }

        .new {
            font-size: 12px;
        }

        .card {
            padding: 20px;
            border: none;
        }


        .active {
            background: #f6f7fb !important;
            border-color: #f6f7fb !important;
            color: #000 !important;
            font-size: 12px;
        }

        .inputs {
            position: relative;
        }

        .form-control {
            text-indent: 15px;
            border: none;
            height: 45px;
            border-radius: 0px;
            border-bottom: 1px solid #eee;
        }

            .form-control:focus {
                color: #495057;
                background-color: #fff;
                border-color: #eee;
                outline: 0;
                box-shadow: none;
                border-bottom: 1px solid blue;
            }


            .form-control:focus {
                color: blue;
            }

        .inputs i {
            position: absolute;
            top: 14px;
            left: 4px;
            color: #b8b9bc;
        }

        .star {
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #eee;
            margin-right: 10px;
            border-radius: 5px;
        }

        .time-text {
            font-size: 12px;
            color: #989898;
        }

        .dots {
            height: 7px;
            width: 7px;
            background-color: #eee;
            display: flex;
            border-radius: 50%;
            margin-left: 7px;
            margin-right: 7px;
        }

        .yellow {
            color: #ffab2e;
        }

        .content-text-1 {
            height: 50px;
            width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4%;
            padding: 10px;
            background-color: #ffe7cc;
            color: #ffa03a;
            font-weight: 700;
        }


        .blue {
            color: #6ecce6;
        }


        .content-text-2 {
            height: 40px;
            width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4%;
            background-color: #e2f5fa;
            color: #6ecce6;
            font-weight: 700;
        }


        .dark-blue {
            color: #572ce8;
        }


        .content-text-3 {
            height: 40px;
            width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4%;
            background-color: #572ce86b;
            color: #572ce8;
            font-weight: 700;
        }

        .content-text-4 {
            height: 50px;
            width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4%;
            padding: 10px;
            background-color: #00dd3874;
            color: #fff;
            font-weight: 700;
        }

        .highlight {
            background-color: #ffc107; /* Yellow background color */
            padding: 5px 10px; /* Add padding for better appearance */
            border-radius: 5px; /* Add border radius for rounded corners */
            display: inline-block; /* Display inline to wrap the text */
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="container">

        <div class="row d-flex justify-content-center mt-5 ">

            <div class="col-md-8">


                <div class="card">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="font-weight-bold">
                            <h3>End of Examination!!</h3>
                        </span>

                        <div class="d-flex flex-row">
                            @Html.ActionLink("Start New Quiz", "ExamDashboard", "QuizAssesment", null, new { @class = "btn btn-primary mr-2 active" })
                            <button class="btn btn-primary new"><i class="fa fa-plus"></i> Your score is @TempData["score"] </button>
                        </div>
                    </div>

                    <div class="mt-3 inputs text-decoration-underline">
                        Exam Details
                    </div>


                    <div class="mt-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-row align-items-center">
                                <span class="star"><i class='bx bx-calendar-check' style='color: #FFA03A'></i></span>
                                <div class="d-flex flex-column">
                                    <span>Exam Date: </span>
                                </div>
                            </div>
                            <span class="content-text-1">@DateTime.Now</span>
                        </div>
                    </div>

                    <div class="mt-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-row align-items-center">
                                <span class="star"><i class='bx bxs-contact' style='color:#a064e8'></i></span>
                                <div class="d-flex flex-column">
                                    <span>Patient Name: </span>
                                </div>
                            </div>
                            <span class="content-text-3">@TempData["patientName"]</span>
                        </div>
                    </div>



                    <div class="mt-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-row align-items-center">
                                <span class="star"><i class='bx bxs-dashboard' style='color: #FFA03A'></i></span>
                                <div class="d-flex flex-column">
                                    <span>Category Name: </span>
                                </div>
                            </div>
                            <span class="content-text-1">@TempData["categoryName"]</span>
                        </div>
                    </div>

                    <div class="mt-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-row align-items-center">
                                <span class="star"><i class='bx bxs-quote-single-right' style='color:#00dd38'></i></span>
                                <div class="d-flex flex-column">
                                    <span>Your Score: </span>
                                </div>
                            </div>
                            <span class="content-text-4">@TempData["score"]</span>
                        </div>
                    </div>

                    <div class="mt-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-row align-items-center">
                                <span class="star"><i class='bx bxs-hand-up' style='color:#f38c00'></i></span>
                                <div class="d-flex flex-column">
                                    <span>Number of questions attempted: </span>
                                </div>
                            </div>
                            <span class="content-text-4">
                                <p>@TempData["totalQuestions"]/@TempData["totalQuestions"]</p>
                            </span>
                        </div>
                    </div>

                    <div class="mt-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-row align-items-center">
                                <span class="star"><i class='bx bxs-timer' style='color:#a60404'></i></span>
                                <div class="d-flex flex-column">
                                    <span>Time Taken to Complete the Quiz: </span>
                                </div>
                            </div>
                            <span class="content-text-4">
                                <p>@TempData["timeTaken"]</p>
                            </span>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</body>
</html>
