@{
    ViewBag.Title = "Contact";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>

    <!-- Required meta tags -->
    <link rel="icon" href="~/Content/FrontTemplate/img/favicon.ico" type="image/png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/vendors/animate-css/animate.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"><!-- main css -->
    <!-- main css -->
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/style.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/responsive.css">
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <header class="header_area">
        <div class="top_menu row m0">
            <div class="container">
                <div class="float-left">
                    <a class="dn_btn" href="mailto:advice@healmate.com"><i class="ti-email"></i>advice@healmate.com</a>
                    <span class="dn_btn"><a href="https://maps.app.goo.gl/rKC8TWJGEkTX4bzB6" target="_blank"> <i class="ti-location-pin"></i>Find our Location </a></span>
                </div>
                <div class="float-right">
                    <ul class="list header_social">
                        <li><a href="#"><i class="ti-facebook"></i></a></li>
                        <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                        <li><a href="#"><i class="ti-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h text-dark" style="font-size: 38px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;text-transform:none;" href="#!"><img src="~/Content/FrontTemplate/img/sub_logo.png" alt="">HealMa<span style="color: #0051D2">t</span>e</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content d-md-flex justify-content-between align-items-center">
                    <div class="mb-3 mb-md-0">
                        <h2>Contact</h2>
                        <p>Details</p>
                    </div>
                    <div class="page_link">
                        @Html.ActionLink("Home", "StartTemplate", "Home", null)
                        <a href="contact.html" class="text-primary">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->


    <!-- ================ contact section start ================= -->
    <section class="contact-section area-padding">
        <div class="container">
            <div class="d-none d-sm-block mb-5 pb-4">
                <div id="map"></div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248849.84916296526!2d77.6309395!3d12.9539974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1670c9b44e6d%3A0xf8dfc3e8517e4fe0!2sBengaluru%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1711548570933!5m2!1sen!2sin" width="1140" height="480" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>


            <div class="row">
                <div class="col-12">
                    <h2 class="contact-title">Get in Touch</h2>
                </div>
                <div class="col-lg-8">
                    <form class="form-contact contact_form" action="https://formspree.io/f/xnqeoowp" method="post" id="contactForm" novalidate="novalidate">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="name" id="name" type="text" placeholder="Enter your name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="email" id="email" type="email" placeholder="Enter email address">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" name="subject" id="subject" type="text" placeholder="Enter Subject">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" placeholder="Enter Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <button type="submit" class="button button-contactForm">Send Message</button>
                        </div>
                    </form>


                </div>

                <div class="col-lg-4">
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="bi bi-house-door"></i></span>
                        <div class="media-body">
                            <h3>Bangaluru, India.</h3>
                            <p>JP Nagar 560069</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="bi bi-tablet"></i></span>
                        <div class="media-body">
                            <h3><a href="tel:454545654">91 (635) 2204 102</a></h3>
                            <p>24*7 Service</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="bi bi-envelope-at"></i></span>
                        <div class="media-body">
                            <h3><a href="mailto:advice@healmate.com">advice@healmate.com</a></h3>
                            <p>Send us your query anytime!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ contact section end ================= -->


    <!--================Contact Success and Error message Area =================-->
    <div id="success" class="modal modal-message fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                    <h2>Thank you</h2>
                    <p>Your message is successfully sent...</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modals error -->

    <div id="error" class="modal modal-message fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                    <h2>Sorry !</h2>
                    <p> Something went wrong </p>
                </div>
            </div>
        </div>
    </div>
    <!--================End Contact Success and Error message Area =================-->


    <!--================ Start Brands Area =================-->
    <!--<section class="brands-area background_one">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="owl-carousel brand-carousel">-->
    <!-- single-brand -->
    <!--<div class="single-brand-item d-table">
        <div class="d-table-cell">
            <img src="~/Content/FrontTemplate/img/brand/1.png" alt="">
        </div>
    </div>-->
    <!-- single-brand -->
    <!--<div class="single-brand-item d-table">
        <div class="d-table-cell">
            <img src="~/Content/FrontTemplate/img/brand/2.png" alt="">
        </div>
    </div>-->
    <!-- single-brand -->
    <!--<div class="single-brand-item d-table">
        <div class="d-table-cell">
            <img src="~/Content/FrontTemplate/img/brand/3.png" alt="">
        </div>
    </div>-->
    <!-- single-brand -->
    <!--<div class="single-brand-item d-table">
        <div class="d-table-cell">
            <img src="~/Content/FrontTemplate/img/brand/4.png" alt="">
        </div>
    </div>-->
    <!-- single-brand -->
    <!--<div class="single-brand-item d-table">
        <div class="d-table-cell">
            <img src="~/Content/FrontTemplate/img/brand/5.png" alt="">
        </div>
    </div>-->
    <!-- single-brand -->
    <!--<div class="single-brand-item d-table">
                            <div class="d-table-cell">
                                <img src="~/Content/FrontTemplate/img/brand/3.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!--================ End Brands Area =================-->

    <footer class="footer-area area-padding-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-6 single-footer-widget">
                    <h4>Top Services</h4>
                    <ul>
                        <li><a href="#!">24/7 Services</a></li>
                        <li><a href="#!">Online Appointment</a></li>
                        <li><a href="#!">Comfort and Privacy</a></li>
                        <li><a href="#!">Appointment Tracking</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6 single-footer-widget">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="#d-service">Know Services</a></li>
                        <li><a href="@Url.Content("~/Home/Login")">Make an Appointment</a></li>
                        <li><a href="#d-doc">Know Doctors</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6 single-footer-widget">
                    <h4>Collabs</h4>
                    <ul>
                        <li><a href="#">HealMate</a></li>
                        <li><a href="#">HealMate</a></li>
                        <li><a href="#">HealMate</a></li>
                        <li><a href="#">HealMate</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6 single-footer-widget">
                    <h4>Resources</h4>
                    <ul>
                        <li><a href="#">Guides</a></li>
                        <li><a href="#">Research</a></li>
                        <li><a href="#d-doc">Doctors</a></li>
                        <li><a href="#">Health</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 single-footer-widget">
                    <h4>HealMate.Heal</h4>
                    <a class="navbar-brand logo_h text-dark" style="font-size: 38px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;text-transform:none;" href="#!"><img src="~/Content/FrontTemplate/img/sub_logo.png" alt="">HealMa<span style="color: #0051D2">t</span>e</a>
                    <br />
                    <p>You can trust us.</p>
                </div>
            </div>
            <div class="row footer-bottom d-flex justify-content-between">
                <p class="col-lg-8 col-sm-12 footer-text m-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This Website is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://ttimir.github.io/timirbhingradiya-pf.github.io/" target="_blank">Timir</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-sm-12 footer-social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-dribbble"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Content/FrontTemplate/js/jquery-2.2.4.min.js"></script>
    <script src="~/Content/FrontTemplate/js/popper.js"></script>
    <script src="~/Content/FrontTemplate/js/bootstrap.min.js"></script>
    <script src="~/Content/FrontTemplate/js/stellar.js"></script>
    <script src="~/Content/FrontTemplate/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Content/FrontTemplate/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/FrontTemplate/js/waypoints.min.js"></script>
    <script src="~/Content/FrontTemplate/js/mail-script.js"></script>
    <script src="~/Content/FrontTemplate/js/contact.js"></script>
    <script src="~/Content/FrontTemplate/js/jquery.form.js"></script>
    <script src="~/Content/FrontTemplate/js/jquery.validate.min.js"></script>
    <script src="~/Content/FrontTemplate/js/mail-script.js"></script>
    <script src="~/Content/FrontTemplate/js/theme.js"></script>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>