@model DatabaseLayer.UserTable

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HealMate</title>
    <!-- Required meta tags -->
    <link rel="icon" href="~/Content/FrontTemplate/img/favicon.ico" type="image/png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/style.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/responsive.css">
</head>
<body>
    <div class="container body-content">

        <section class="appointment-area">
            <div class="container">

                <div class="appointment-inner accordion">
                    <div class="row">

                        <div class="col-md-10">

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <h2 class="text-center">Healmate health Solution</h2>
                                    <h4 class="text-center">Create Account</h4>

                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    @if (!string.IsNullOrEmpty(ViewBag.Message))
                                    {
                                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                                            <strong>Holy!</strong> @ViewBag.Message
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    }

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UserTypeID, "Select Type", htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-4">
                                            @Html.DropDownList("UserTypeID", null, "Select Type", htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.UserTypeID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UserName, "Enter User Name", htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Password, "Enter Password", htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-md-offset-4" style="font-size: 0.9em; color: #555;">
                                        <p>Password must:</p>
                                        <ul style="padding-left: 20px;">
                                            <li style="list-style:disc">Be at least 8 characters long</li>
                                            <li style="list-style:disc">Include at least one uppercase letter</li>
                                            <li style="list-style:disc">Include at least one lowercase letter</li>
                                            <li style="list-style:disc">Include at least one digit</li>
                                            <li style="list-style:disc">Include at least one special character</li>
                                        </ul>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ContactNo, "Contact No", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control", type = "tel", pattern = @"\d{3}-\d{3}-\d{4}", placeholder = "123-456-7890" } })
                                            @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-4">
                                            <input type="submit" value="Create Account" class="genric-btn primary" />
                                            @Html.ActionLink("Back", "Login", "Index", new { @class = "genric-btn default" })
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Content/FrontTemplate/js/jquery-2.2.4.min.js"></script>
    <script src="~/Content/FrontTemplate/js/popper.js"></script>
    <script src="~/Content/FrontTemplate/js/bootstrap.min.js"></script>
    <script src="~/Content/FrontTemplate/js/stellar.js"></script>
    <script src="~/Content/FrontTemplate/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Content/FrontTemplate/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/FrontTemplate/js/waypoints.min.js"></script>
    <script src="~/Content/FrontTemplate/js/mail-script.js"></script>
    <script src="~/Content/FrontTemplate/js/contact.js"></script>
    <script src="~/Content/FrontTemplate/js/jquery.form.js"></script>
    <script src="~/Content/FrontTemplate/js/jquery.validate.min.js"></script>
    <script src="~/Content/FrontTemplate/js/mail-script.js"></script>
    <script src="~/Content/FrontTemplate/js/theme.js"></script>
</body>
</html>
