<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Healmate Health Support</title>
    <link rel="icon" href="~/Content/FrontTemplate/img/sub_logo.png" type="image/png">

    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link href="~/Content/DashboardTemplate/css/Sidebar.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/DashboardTemplate/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/Content/DashboardTemplate/css/owl.carousel.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.min.css" integrity="sha512-PT0RvABaDhDQugEbpNMwgYBCnGCiTZMh9yOzUsJHDgl/dMhD9yjHAwoumnUk3JydV3QTcIkNDuN40CJxik5+WQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="~/Content/AdminTemplate/syntax-highlighter/styles/shCore.css" rel="stylesheet" />
    <link href="~/Content/AdminTemplate/syntax-highlighter/styles/shThemeDefault.css" rel="stylesheet" />
    <link href="~/Content/AdminTemplate/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/AdminTemplate/css/normalize.min.css" rel="stylesheet" />
    <link href="~/Content/AdminTemplate/css/main.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/DashboardTemplate/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Style -->
    <link rel="stylesheet" href="~/Content/DashboardTemplate/css/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/style.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/responsive.css">

    <style>
        #topFixedNavbar {
            overflow-y: scroll !important;
            max-height: 500px !important;
        }
    </style>
</head>
<body>

    <form id="form1" runat="server">

        <div class="wrapper">
            <div class="sidebar">
                <div class="bg_shadow"></div>
                <div class="sidebar_inner">
                    <div class="close">
                        <i class="fas fa-times"></i>
                    </div>

                    <div class="profile_info">
                        <div class="profile_img">
                            <span>
                                <a class="navbar-brand logo_h" href="index.html"><img src="~/Content/FrontTemplate/img/sub_logo.png" alt=""></a>
                            </span>
                        </div>
                        <span class="profile_data">
                            <a class="navbar-brand logo_h" href="index.html"><img src="~/Content/FrontTemplate/img/sub_logo_text_white.png" alt=""></a>
                        </span>
                    </div>

                    <ul class="siderbar_menu">
                        <li style="background-color: #0051D2; color: #fff;" class="nav-welcome"><a href="#!welcome" class="d-flex align-items-center"><span class="bi bi-emoji-smile mr-3"></span><span class="menu-text">Welcome</span></a></li>
                        <li><a href="@Url.Action("ChangePassword", "Home")" class="d-flex align-items-center"><span class="wrap-icon icon-pass mr-3"></span><span class="menu-text">Change Password</span></a></li>

                        @{
                            if (Session["UserTypeID"] != null)
                            {
                                var usertype = Convert.ToString(Session["UserTypeID"]);
                                int value = Convert.ToInt32(usertype.Trim());

                                if (value == 1)
                                {
                                    @*<li>
                                            <a href="#!">
                                                <div class="icon"><i class="icon-alllab"></i></div>
                                                <div class="s-title">Lab</div>
                                                <div class="arrow"><i class="fas fa-chevron-down"></i></div>
                                            </a>
                                            <ul class="accordion">
                                                <li><a href="@Url.Action("Index", "UserTables")" class="d-flex align-items-center"><span class="wrap-icon icon-lab mr-3"></span><span class="menu-text">Pending(Lab) Request</span></a></li>
                                                <li><a href="@Url.Action("Index", "UserTables")" class="d-flex align-items-center"><span class="wrap-icon icon-alllab mr-3"></span><span class="menu-text">All Labs</span></a></li>
                                            </ul>
                                        </li>*@

                                    <li>
                                        <a href="#!">
                                            <div class="icon"><i class="icon-alldoc"></i></div>
                                            <div class="s-title">Doctor</div>
                                            <div class="arrow"><i class="fas fa-chevron-down"></i></div>
                                        </a>
                                        <ul class="accordion">
                                            <li><a href="@Url.Action("PendingRequests", "UserTables")" class="d-flex align-items-center"><span class="wrap-icon icon-user-plus mr-3"></span><span class="menu-text">Pending Requests</span></a></li>
                                            <li><a href="@Url.Action("DoctorList", "UserTables")" class="d-flex align-items-center"><span class="wrap-icon icon-alldoc mr-3"></span><span class="menu-text">All Doctors</span></a></li>
                                        </ul>
                                    </li>

                                    <li><a href="@Url.Action("Index", "AccountTypeTables")" class="d-flex align-items-center"><span class="wrap-icon icon-account mr-3"></span><span class="menu-text">Account Type</span></a></li>
                                    <li><a href="@Url.Action("PatientList", "UserTables")" class="d-flex align-items-center"><span class="wrap-icon icon-allpat mr-3"></span><span class="menu-text">All Patients</span></a></li>
                                    <li><a href="@Url.Action("Index", "UserTables")" class="d-flex align-items-center"><span class="wrap-icon icon-user mr-3"></span><span class="menu-text">All Users</span></a></li>
                                }

                                else if (value == 3)
                                {
                                    //Lab User Access
                                    <li><a href="@Url.Action("Index", "LabTimeSlotTables")" class="d-flex align-items-center"><span class="wrap-icon icon-timeslot mr-3"></span><span class="menu-text">Time Slot</span></a></li>

                                    <li>
                                        <a href="#!">
                                            <div class="icon"><i class="icon-labtest"></i></div>
                                            <div class="s-title">Test</div>
                                            <div class="arrow"><i class="fas fa-chevron-down"></i></div>
                                        </a>
                                        <ul class="accordion">
                                            <li><a href="@Url.Action("LabAllTest", "LabSetting")" class="d-flex align-items-center"><span class="wrap-icon icon-labtest mr-3"></span><span class="menu-text">All Test</span></a></li>
                                            <li><a href="@Url.Action("AddTest", "LabSetting")" class="d-flex align-items-center"><span class="wrap-icon icon-listtest mr-3"></span><span class="menu-text">Add Test</span></a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#!">
                                            <div class="icon"><i class="icon-labapp"></i></div>
                                            <div class="s-title">Appointments</div>
                                            <div class="arrow"><i class="fas fa-chevron-down"></i></div>
                                        </a>
                                        <ul class="accordion">
                                            <li><a href="@Url.Action("CurrentAppoint", "LabApprove")" class="d-flex align-items-center"><span class="wrap-icon icon-capp mr-3"></span><span class="menu-text">Current Appointment</span></a></li>
                                            <li><a href="@Url.Action("PendingAppoint", "LabApprove")" class="d-flex align-items-center"><span class="wrap-icon icon-papp mr-3"></span><span class="menu-text">Pending Appointment</span></a></li>
                                            <li><a href="@Url.Action("CompleteAppoint", "LabApprove")" class="d-flex align-items-center"><span class="wrap-icon icon-comapp mr-3"></span><span class="menu-text">Complate Appointment</span></a></li>
                                        </ul>
                                    </li>

                                    <li><a href="@Url.Action("AllAppoint", "LabApprove")" class="d-flex align-items-center"><span class="wrap-icon icon-allapp mr-3"></span><span class="menu-text">All Appointment</span></a></li>
                                }

                                else if (value == 2)
                                {
                                    //Doctor User Access
                                    <li><a href="@Url.Action("Index", "DoctorTimeSlotTables")" class="d-flex align-items-center"><span class="wrap-icon icon-timeslot mr-3"></span><span class="menu-text">Time Slot</span></a></li>

                                    <li>
                                        <a href="#!">
                                            <div class="icon"><i class="icon-labapp"></i></div>
                                            <div class="s-title">Appointments</div>
                                            <div class="arrow"><i class="fas fa-chevron-down"></i></div>
                                        </a>
                                        <ul class="accordion">
                                            <li><a href="@Url.Action("CurrentAppoint", "DoctorApprove")" class="d-flex align-items-center"><span class="wrap-icon icon-capp mr-3"></span><span class="menu-text">Current Appointment</span></a></li>
                                            <li><a href="@Url.Action("PendingAppoint", "DoctorApprove")" class="d-flex align-items-center"><span class="wrap-icon icon-papp mr-3"></span><span class="menu-text">Pending Appointment</span></a></li>
                                            <li><a href="@Url.Action("CompleteAppoint", "DoctorApprove")" class="d-flex align-items-center"><span class="wrap-icon icon-comapp mr-3"></span><span class="menu-text">Complate Appointment</span></a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#!">
                                            <div class="icon"><i class="icon-quiz"></i></div>
                                            <div class="s-title">Self-Assesment</div>
                                            <div class="arrow"><i class="fas fa-chevron-down"></i></div>
                                        </a>
                                        <ul class="accordion">
                                            <li><a href="@Url.Action("Add_Category", "QuizAssesment")" class="d-flex align-items-center"><span class="wrap-icon icon-quizcat mr-3"></span><span class="menu-text">Add Categories</span></a></li>
                                            <li><a href="@Url.Action("Add_Questions", "QuizAssesment")" class="d-flex align-items-center"><span class="wrap-icon icon-quizque mr-3"></span><span class="menu-text">Add Questions</span></a></li>
                                            <li><a href="@Url.Action("Report", "QuizAssesment")" class="d-flex align-items-center"><span class="wrap-icon icon-quizrepo mr-3"></span><span class="menu-text">Report</span></a></li>
                                        </ul>
                                    </li>

                                    <li><a href="@Url.Action("AllAppoint", "DoctorApprove")" class="d-flex align-items-center"><span class="wrap-icon icon-allapp mr-3"></span><span class="menu-text">All Appointment</span></a></li>
                                }

                                else if (value == 4)
                                {
                                    //Patient User Access
                                    <li>@*<a href="@Url.Action("GetAllLabs", "PatientAppointment")" class="d-flex align-items-center"><span class="wrap-icon icon-alllab mr-3"></span><span class="menu-text">All Labs</span></a>*@</li>
                                    <li><a href="@Url.Action("GetAllDoctors", "PatientAppointment")" class="d-flex align-items-center"><span class="wrap-icon icon-alldoc mr-3"></span><span class="menu-text">All Doctors</span></a></li>
                                    <li>@*<a href="@Url.Action("AllTest", "LabSetting")" class="d-flex align-items-center"><span class="wrap-icon icon-alldoc mr-3"></span><span class="menu-text">All Tests</span></a>*@</li>

                                    @*<li>
                                            <a href="#!">
                                                <div class="icon"><i class="icon-labapp"></i></div>
                                                <div class="s-title">Labs</div>
                                                <div class="arrow"><i class="fas fa-chevron-down"></i></div>
                                            </a>
                                            <ul class="accordion">
                                                <li><a href="@Url.Action("AllAppointment", "LabAppointStatus")" class="d-flex align-items-center"><span class="wrap-icon icon-allapp mr-3"></span><span class="menu-text">All Appointment</span></a></li>
                                                <li><a href="@Url.Action("PendingAppointment", "LabAppointStatus")" class="d-flex align-items-center"><span class="wrap-icon icon-papp mr-3"></span><span class="menu-text">Pending Appointment</span></a></li>
                                                <li><a href="@Url.Action("CurrentAppointment", "LabAppointStatus")" class="d-flex align-items-center"><span class="wrap-icon icon-capp mr-3"></span><span class="menu-text">Current Appointment</span></a></li>
                                                <li><a href="@Url.Action("CancelAppointment", "LabAppointStatus")" class="d-flex align-items-center"><span class="wrap-icon icon-canapp mr-3"></span><span class="menu-text">Cancel Appointment</span></a></li>
                                                <li><a href="@Url.Action("CompleteAppointment", "LabAppointStatus")" class="d-flex align-items-center"><span class="wrap-icon icon-comapp mr-3"></span><span class="menu-text">Complate Appointment</span></a></li>
                                            </ul>
                                        </li>*@

                                    <li>
                                        <a href="#!">
                                            <div class="icon"><i class="icon-labapp"></i></div>
                                            <div class="s-title">Doctors</div>
                                            <div class="arrow"><i class="fas fa-chevron-down"></i></div>
                                        </a>
                                        <ul class="accordion">
                                            <li><a href="@Url.Action("AllAppointment", "DoctorAppointStatus")" class="d-flex align-items-center"><span class="wrap-icon icon-allapp mr-3"></span><span class="menu-text">All Appointment</span></a></li>
                                            <li><a href="@Url.Action("PendingAppointment", "DoctorAppointStatus")" class="d-flex align-items-center"><span class="wrap-icon icon-papp mr-3"></span><span class="menu-text">Pending Appointment</span></a></li>
                                            <li><a href="@Url.Action("CurrentAppointment", "DoctorAppointStatus")" class="d-flex align-items-center"><span class="wrap-icon icon-capp mr-3"></span><span class="menu-text">Current Appointment</span></a></li>
                                            <li><a href="@Url.Action("CancelAppointment", "DoctorAppointStatus")" class="d-flex align-items-center"><span class="wrap-icon icon-canapp mr-3"></span><span class="menu-text">Cancel Appointment</span></a></li>
                                            <li><a href="@Url.Action("CompleteAppointment", "DoctorAppointStatus")" class="d-flex align-items-center"><span class="wrap-icon icon-comapp mr-3"></span><span class="menu-text">Complate Appointment</span></a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#!">
                                            <div class="icon"><i class="icon-quiz"></i></div>
                                            <div class="s-title">Self-Assesment</div>
                                            <div class="arrow"><i class="fas fa-chevron-down"></i></div>
                                        </a>
                                        <ul class="accordion">
                                            <li><a href="@Url.Action("ExamDashboard", "QuizAssesment")" class="d-flex align-items-center"><span class="wrap-icon icon-quizcat mr-3"></span><span class="menu-text">Exam Dashboard</span></a></li>
                                            <li><a href="@Url.Action("PatientReport", "QuizAssesment")" class="d-flex align-items-center"><span class="wrap-icon icon-quizrepo mr-3"></span><span class="menu-text">History</span></a></li>
                                        </ul>
                                    </li>

                                }
                            }
                        }

                    </ul>
                    <div class="logout_btn">
                        <a href="@Url.Action("UserLogOut", "Home")" class="d-flex align-items-center"><span class="wrap-icon icon-logout mr-3"></span><span class="menu-text">Log Out</span></a>
                    </div>

                </div>
            </div>



        </div>

    </form>

    <main class="main_container">
        <div class="site-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div id="main-wrapper">
                        <div class="main-content">
                            <section id="welcome">
                                <div class="hamburger">
                                    <i class="fas fa-bars"></i>
                                </div>
                                <div class="content-header">
                                    <h1>HealMate Health Solution</h1>
                                    @*@ViewBag.title*@
                                </div>
                                @RenderBody()
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Content/FrontTemplate/js/jquery-2.2.4.min.js"></script>
    <script src="~/Content/FrontTemplate/js/popper.js"></script>
    <script src="~/Content/FrontTemplate/js/bootstrap.min.js"></script>
    <script src="~/Content/FrontTemplate/js/stellar.js"></script>
    <script src="~/Content/FrontTemplate/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Content/FrontTemplate/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/FrontTemplate/js/waypoints.min.js"></script>
    <script src="~/Content/FrontTemplate/js/mail-script.js"></script>
    <script src="~/Content/FrontTemplate/js/contact.js"></script>
    <script src="~/Content/FrontTemplate/js/jquery.form.js"></script>
    <script src="~/Content/FrontTemplate/js/jquery.validate.min.js"></script>
    <script src="~/Content/FrontTemplate/js/mail-script.js"></script>
    <script src="~/Content/FrontTemplate/js/theme.js"></script>

    <script src="~/Content/DashboardTemplate/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/DashboardTemplate/js/popper.min.js"></script>
    <script src="~/Content/DashboardTemplate/js/bootstrap.min.js"></script>
    <script src="~/Content/DashboardTemplate/js/main.js"></script>

    <script src="~/Content/AdminTemplate/js/jquery-1.11.0.min.js"></script>
    <script src="~/Content/AdminTemplate/js/jquery.nav.js"></script>
    <script src="~/Content/AdminTemplate/syntax-highlighter/scripts/shCore.js"></script>
    <script src="~/Content/AdminTemplate/syntax-highlighter/scripts/shBrushXml.js"></script>
    <script src="~/Content/AdminTemplate/syntax-highlighter/scripts/shBrushCss.js"></script>
    <script src="~/Content/AdminTemplate/syntax-highlighter/scripts/shBrushJScript.js"></script>
    <script src="~/Content/AdminTemplate/syntax-highlighter/scripts/shBrushPhp.js"></script>
    <script type="text/javascript">
        SyntaxHighlighter.all()
    </script>
    <script src="~/Content/AdminTemplate/js/custom.js"></script>

    <!-- Page Level Plugin -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.min.js"></script>

    <!-- Page Level Custome Script -->
    <script src="https://example.com/path/to/datatables.demo.js"></script>

    <script>
        $(document).ready(function () {
            $(".siderbar_menu li").click(function () {
                $(".siderbar_menu li").removeClass("active");
                $(this).addClass("active");
            });

            $(".hamburger").click(function () {
                $(".wrapper").addClass("active");
            });

            $(".close, .bg_shadow").click(function () {
                $(".wrapper").removeClass("active");
            });
        });
    </script>
</body>
</html>
